on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_tas256x

on fs
    mkdir /mnt/vendor/persist/audio 0755 system system
    mkdir /mnt/vendor/persist/haptics 0755 system system

    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wu.bin

    # fingerprint
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/modalias
    chmod 0666 /dev/qseecom
    chmod 0644 /dev/goodix_fp
    chown system system /dev/goodix_fp

    # ir
    chmod 0644 /dev/spidev0.1
    chown system system /dev/spidev0.1

    # dt2w
    chown system system /proc/tp_gesture
    chmod 0644 /proc/tp_gesture

on property:ro.boot.product.hardware.sku=surya
    enable vendor.nfc_hal_service
    enable secureelement-hal_1_2
    enable nqnfc_2_0_hal_service
