on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules audio_tas256x

on fs
    # fingerprint
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc/soc:fpc1020/modalias
    chmod 0666 /dev/qseecom
    chmod 0644 /dev/goodix_fp
    chown system system /dev/goodix_fp

    # ir
    chmod 0644 /dev/spidev0.1
    chown system system /dev/spidev0.1

    # dt2w
    chown system system /proc/tp_gesture
    chmod 0644 /proc/tp_gesture

    # white led
    chown system system /sys/class/leds/red/delay_off
    chmod 0644 /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/red/delay_on
    chmod 0644 /sys/class/leds/red/delay_on

on property:ro.boot.product.hardware.sku=surya
    enable vendor.nfc_hal_service
    enable secureelement-hal_1_2
    enable nqnfc_2_0_hal_service

on property:ro.boot.product.hardware.sku=karna
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hce.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hcef.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.uicc.xml bind
