on init
    chmod 777 /sys/class/power_supply/battery/system_temp_level

on fs
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    mkdir /mnt/vendor/persist/audio 0755 system system
    mkdir /mnt/vendor/persist/haptics 0755 system system

    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
	
on property:vendor.post_boot.parsed=1
    # Setup runtime cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/cpus 0-5,7
    write /dev/cpuset/background/cpus 4-5
    write /dev/cpuset/system-background/cpus 2-5
    write /dev/cpuset/restricted/cpus 2-5

    # Setup default schedTune value for foreground/top-app
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10
    write /dev/stune/top-app/schedtune.prefer_idle 1

    # Setup schedutil ratelimits
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/down_rate_limit_us 20000

    # Enable schedutil predicted-load boosting
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 1
    write /sys/devices/system/cpu/cpu6/cpufreq/schedutil/pl 1

    # EAS
    write /proc/sys/kernel/sched_upmigrate 95
    write /proc/sys/kernel/sched_downmigrate 85

service mi_thermald /vendor/bin/mi_thermald
    class core
    user root
    group system
